<!DOCTYPE html>
<html lang="en">
<head>
    <title>Map-o-Mat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .btn-xlarge {
            width:100%;
            line-height: normal;
            -webkit-border-radius: 8px;
               -moz-border-radius: 8px;
                    border-radius: 8px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <form class="container" style="position: centered">
        <div class="row">
            <div class="col-md-12">
                <h1>Map-o-Mat</h1>
                <hr />
                Welcome to Map-o-Mat! This application uses the data published
                in the <a href="http://www.yelp.com/dataset_challenge">yelp
                dataset challenge</a> to automatically order businesses into
                categories (nothing you see here was picked by hand!) and
                display them on maps from
                <a href="https://www.arcgis.com/features/">ArcGIS</a>.<br />
                We are Hermann Blum and Alexander Dietmüller and designed this
                application as part of a group project for the
                <a href="http://disco.ethz.ch">disco group at ETH Zurich</a>.
                <br />
                To start, pick a city and all categories you want to see and
                click "generate". After a little computing this will take you
                to a live map preview.<br />
                (You can also download the overlay as .kml)
                <hr />
                Select city:
                <select name="city">
                {% for city in cities %}
                    <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
                </select>
                <br /><br />
                </div>
            </div>
        </div>
        <div class="row">
        {% for superkey in supercats %}
        <div class="col-md-3">
            <div class="panel panel-default">
            <div class="panel-heading">{{ supercats[superkey] }}: </div>
            <div class="panel-body">
                <input type="checkbox" name="supercat" value="{{ superkey }}">
                    All businesses
                </input><br />
                {% for subkey in subcats[superkey] %}
                <input type="checkbox" name="subcat"
                    value="{{ (superkey, subkey) }}">
                    {{ subcats[superkey][subkey] }}
                </input><br>
                {% endfor %}
            </div>
            </div>
        </div>
        {% endfor %}

        </div>

        <button class="btn btn-primary btn-xlarge"
                type="submit"
                formmethod="post">Generate</button>

    </form>
    {# a comment #}
</body>
</html>
