<!DOCTYPE html>
<html lang="en">
<head>
    <title>Map-o-Mat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container" style="max-width: 970px">
        <img src="{{ title_url}}" class="img-responsive center-block"
        style="margin-top: 30px; margin-bottom: 30px" />
        <p>
            Welcome to Map-o-Mat! This application uses the data published
            in the <a href="http://www.yelp.com/dataset_challenge">yelp
            dataset challenge</a> to automatically order businesses into
            categories (nothing you see here was picked by hand!) and
            display them on maps from
            <a href="https://www.arcgis.com/features/">ArcGIS</a>.<br />
            We are Hermann Blum and Alexander Dietmüller and developed this
            application as part of a group project for the
            <a href="http://disco.ethz.ch">disco group at ETH Zurich</a>.
            <br />
            To start, pick a city and all categories you want to see and
            click "generate". After a little computing this will take you
            to a live map preview.<br />
            (You can also download the overlay as .kml)
        </p>
    </div>
    <form class="container">
        <div class="row">
            <hr />
            <div class="col-md-4">
                Select city:
                <select name="city" class="form-control">
                {% for city in cities %}
                    <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <br /><br />
        <div class="row">
        {% for superkey in supercats %}
        <div class="col-md-3">
            <div class="panel panel-default">
            <div class="panel-heading">{{ supercats[superkey] }} </div>
            <div class="panel-body">
                <input type="checkbox" name="supercat" value="{{ superkey }}">
                    All businesses
                </input><br />
                {% for subkey in subcats[superkey] %}
                <input type="checkbox" name="subcat"
                    value="{{ (superkey, subkey) }}">
                    {{ subcats[superkey][subkey] }}
                </input><br>
                {% endfor %}
            </div>
            </div>
        </div>
        {% endfor %}

        </div>

        <button class="btn btn-primary btn-lg btn-block"
                type="submit"
                formmethod="post">Generate</button>

    </form>
    <div class="container-fluid"
    style="background-color: #f5f5f5; text-align: center; margin-top: 20px;
    padding: 10px">
        <small>Logo made with icons by
        <a href="http://www.flaticon.com/authors/freepik" title="Freepik">
        Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">
        www.flaticon.com</a>, licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/"
        title="Creative Commons BY 3.0">CC BY 3.0</a></small>
    </div>
</body>
</html>
